//-------------------------------------------//
//--------- ABOUT ICON LIST SECTION ---------//
//-------------------------------------------//
.about-icon-list {
	.section-header {
		padding: 0 10%;
		.section-title {
			margin-top: 0;
			font-weight: 300;
			line-height: 1.3em;
		}
		hr {
			margin-top: 25px;
			margin-bottom: 50px;
			border-top: 1px solid #ccc;
			width: 200px;
		}
	}
	.icon-list {
		.icon-list-item {
			margin-top: 20px;
			margin-bottom: 20px;
			i {
				font-size: 30px;
				vertical-align: middle;
				padding-left: 20px;
				padding-right: 15px;
			}
		}
	}
}