//----------------------------------------------//
//--------- ABOUT TESTIMONIALS SECTION ---------//
//----------------------------------------------//
.about-testimonials {
	&.block { padding-bottom: 0; }
	.testimonials {
		margin-top: 80px;
		.section-title { line-height: 1.4em; }
	}
	.quotes-list {
		margin-top: 45px;
		.quote {
			.column { margin-bottom: 40px; }
			.quote-text {
				margin: 0;
				font-weight: 300;
			}
			i {
				color: @brand-primary;
				font-size: 52px;
			}
		}
	}
}