//--- General Section Header styles ---//
.section-header {
	padding: 0 10%;
	.section-title {
		margin-top: 0;
		font-weight: 300;
		line-height: 1.3em;
	}
	.section-subtitle {
		margin-top: 10px;
		color: #aaa;
		font-weight: 200;
	}
	hr {
		margin-top: 25px;
		margin-bottom: 50px;
		border-top: 1px solid #ccc;
		width: 200px;
	}
}


//-------------------------------------------//
//--------- ABOUT ICON LIST SECTION ---------//
//-------------------------------------------//
.about-icon-list {
		.icon-list-item {
			margin-top: 20px;
			margin-bottom: 20px;
			i {
				padding-left: 20px;
				padding-right: 15px;
				font-size: 24px;
				color: @brand-primary;
				vertical-align: middle;
			}
		}
	.fa-ul {
		margin-left: 5.142857142857143em;
		& > li { line-height: 2.8em; }
		.fa-li {
			padding-right: 20px;
			font-size: 24px;
			line-height: 1.5em;
		}
	}
}