//----------------------------------------------//
//--------- ABOUT TESTIMONIALS SECTION ---------//
//----------------------------------------------//
.about-testimonials {
	&.block { padding-bottom: 0; }
	.testimonials {
		.section-title { line-height: 1.4em; }
	}
	.quotes-list { margin-top: 45px; }
	.quote i {
		color: @brand-primary;
		font-size: 52px;
	}
	.column { margin-bottom: 40px; }
	.quote-text {
		margin: 0;
		font-weight: 300;
	}
}