/* All styles before section-specific styles can potentially be used universally accross all sections */

// Background color classes //
.bg-primary-lighter { background-color: @brand-primary-lighter; }
.bg-white { background-color: #fff; }

// Default section block padding //
.block { padding: 80px 0; }

//-----------------------------------//
//--------- WELCOME SECTION ---------//
//-----------------------------------//

section.contact {
	.section-title { margin: 40px 0 45px; }
	// Contact information //
	.phone,
	.email {
		display: block;
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 300;
		i {
			padding-right: 15px;
			font-size: 30px;
			vertical-align: middle;
		}
	}
	.contact-form { padding-top: 40px; }
}