/* All styles before section-specific styles can potentially be used universally accross all sections */

// Default section block padding //
.block { padding: 80px 0; }

//-----------------------------------//
//--------- WELCOME SECTION ---------//
//-----------------------------------//

.contact {
	.section-title { margin-bottom: 40px }
	// Contact information //
	.phone,
	.email {
		display: block;
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 300;
		i {
			padding-right: 15px;
			font-size: 30px;
			vertical-align: middle;
		}
	}
	.contact-form { padding-top: 40px; }
	.form-control:focus {
		border-color: #fff;
		-webkit-box-shadow: inset 0 1px 1px fadeout(#000, 92.5%), 0 0 8px fadeout(#fff, 30%);
		box-shadow: inset 0 1px 1px fadeout(#000, 92.5%), 0 0 8px fadeout(#fff, 30%);
	}
}