/* All styles before section-specific styles can potentially be used universally accross all sections */

// Background color classes //
.bg-gray-light { background-color: #f1f1f1; }
.bg-white { background-color: #fff; }

// Default section block padding //
.block {
	padding: 100px 0;
}

//-----------------------------------//
//--------- WELCOME SECTION ---------//
//-----------------------------------//

section.contact {
	.section-title {
		margin: 40px 0 45px;
	}

	// Contact information //
	a {
		font-size: 24px;
		font-weight: 100;
	}
	// Contact info icons //
	i.fa {
		padding-right: 15px;
		font-size: 30px;
		vertical-align: middle;
	}

	.contact-form {
		padding-top: 50px;
	}
}