/* All styles before section-specific styles can potentially be used universally accross all sections */

// Background color classes //
.bg-gray-dark { background-color: #1D1D25; }
.bg-white { background-color: #fff; }

// Default section block padding //
.block {
	padding: 80px 0;
}

//-------------------------------------//
//--------- BASIC CTA SECTION ---------//
//-------------------------------------//

.cta {
	.title {
		margin: 0 0 20px;
		font-weight: 100;
	}
	.description {
		font-size: 16px;
		font-weight: 300;
	}
	.cta-btn {
		margin-top: 35px;
		padding: 15px 25px;
	}
}

@media (max-width: @screen-sm-max) {
	.cta {
		text-align: center;
	}
}