/* All CSS before section-specific styles can potentially be used universally accross all sections */

// Background color classes //
.bg-gray-light { background-color: #f1f1f1; }
.bg-white { background-color: #fff; }


//---------------------------------------------//
//--------- FEATURES SHOWCASE SECTION ---------//
//---------------------------------------------//

.features-showcase {
	img.device {
		max-height: 700px;
	}
	
	.feature {
		.column {
			margin-bottom: 25px;
		}

		i {
			font-size: 60px;
		}

		h3 {
			margin-top: 0;
		}
		hr {
			border-color: #ddd;
		}
	}
}