//--------------------------------------//
//--------- FEATURES 2 SECTION ---------//
//--------------------------------------//

.features-2 {
	text-align: left;
	.section-subtitle {
		margin: 40px 0 30px;
		line-height: 25px;
	}
	.section-body { line-height: 22px; }
	.feature-item {
		padding-top: 20px;
		padding-bottom: 10px;
		.content-body { font-size: 12px; }
	}
	i {
		display: block;
		color: @brand-primary;
		font-size: 50px;
	}
}
@media (max-width: @screen-sm-max) {
	.features-2 { text-align: center; }
}