/* All styles before section-specific styles can potentially be used universally accross all sections */

// Background color classes //
.bg-white-soft { background-color: @brand-white-soft; }
.bg-white { background-color: #fff; }

// Default section block padding //
.block {
	padding: 80px 0;
}

//------------------------------------//
//--------- FEATURES SECTION ---------//
//------------------------------------//

.features {
	.feature-item {
		margin-top: 35px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-title {
		margin: 0 0 10px;
		color: @brand-primary;
		letter-spacing: 3px;
		font-weight: 500;
		font-size: 34px;
		line-height: 28px;

		span {
			display: block;
			margin-top: 8px;
			color: #000;
			font-style: normal;
			font-size: 50px;
		}
	}

	.separator {
		margin-bottom: 20px;
		width: 40px;
		height: 2px;
		background: #000;
	}

	i {
		display: block;
		width: 90px;
		height: 90px;
		border-radius: 100%;
		background: @brand-primary;
		color: #fff;
		text-align: center;
		font-size: 50px;
		line-height: 90px;
	}
}