/* All CSS before section-specific styles can potentially be used universally accross all sections */

// Background color classes //
.bg-primary-lighter { background-color: @brand-primary-lighter; }
.bg-white { background-color: #fff; }


//---------------------------------------------//
//--------- FEATURES SHOWCASE SECTION ---------//
//---------------------------------------------//

.features-showcase {
	.feature {
		.column { margin-bottom: 25px; }
		i {
			color: @brand-primary;
			font-size: 60px;
		}
		h3 { margin-top: 0; }
		hr { border-color: darken(@brand-primary-lighter, 10%); }
	}
}