//--------------------------------------------//
//--------- BASIC HIGHLIGHTS SECTION ---------//
//--------------------------------------------//
.highlights-boxed {
	.section-subtitle { margin: 60px 0 50px; }
	.highlight-box {
		margin-bottom: 70px;
		padding: 30px 9%;
		box-shadow: 1px 1px 8px fadeout(#000, 50%);
		.box-icon {
			position: absolute;
			top: -30px;
			left: -1.5%;
			max-height: 80px;
		}
		.box-count {
			position: absolute;
			margin: 0;
			top: -11px;
			left: 16.5px;
		}
		.box-title {
			margin: 5px 0 20px;
			font-weight: 300;
			span {
				margin-right: 5px;
				font-size: 2em;
				font-weight: 400;
				border-bottom: 2px solid #fff;
			}
		}
	}
}