//------------------------------------//
//--------- SERVICES SECTION ---------//
//------------------------------------//
.services-icons {
	.content-box {
		margin-bottom: 10px;
		.icon {
			margin-bottom: 10px;
			padding: 32px;
			background-color: @brand-primary;
			color: #fff;
			font-size: 46px;
			border-radius: 50%;
			box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
			//Transition Properties
				transition: box-shadow 0.25s ease;
				-webkit-transition: box-shadow 0.25s ease;
				-moz-transition: box-shadow 0.25s ease;
				-o-transition: box-shadow 0.25s ease;
			&:hover { box-shadow: 1px 1px 12px rgba(0,0,0,0.7); }
		}
		.more-info {
			text-transform: uppercase;
			margin-top: 15px;
		}
	}
}