// Main router

// Configure import paths
@bootstrap-path:        "../../bower_components/bootstrap/less/";
@section-path: 			"../sections/";
@component-path: 		"../components/";

// import bootstrap router
@import "bootstrap.less";

// import component router
@import "component.less";

// import section router
@import "section.less";